body {
    display: flex;
    background-color: black;
}

#calculator {
    display:flex;
    flex-direction: column;
    background-color: blue;
    padding: 10px;
    border-radius: 12px;
    width: 144px;
    margin: auto;

}

#screen {
    display: flex;
    flex-direction: column;
    margin: auto;
    border: 1px;
    width: 130px;
    border-color: gray;
    border-style: solid;
}


#output {
    display: flex;
    background-color: green;
    height: 20px;
    justify-content: right;
}

#input {
    display: flex;
    background-color: teal;
    height: 25px;
}

#numberpad {
    margin: 5px;
    display: flex;
    flex-direction: column;
    
}

button {
    border-radius: 10px;
    width: 30px;
    height: 25px;
    margin-top: 2px;
    font-size: 12px;
    padding: 0px;
}

#fifthrow {
    display: flex;
    justify-content:space-between;
}

#btnclear {
    width: 50px;
    background-color: #e5778a
}

#btnenter {
    width: 50px;
    background-color: #5fc75f;
}

#backspace {
    padding: 0px;
    
}