body {
    display: flex;
    background-color: red;
}

#calculator {
    display:flex;
    flex-direction: column;
    background-color: blue;
    
}

#output {
    display: flex;
    background-color: green;
    height: 20px;
    justify-content: right;
}

#input {
    display: flex;
    background-color: teal;
    height: 25px;
}